.landing-container {
    position: relative;
    background-color: black;
}

#landing-photo {
    margin-left: 25%;
    
}

#intro {
    position: absolute;
    top: 3%;
    left: 63%;
    color: rgba(253, 128, 8, 1.00);
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    word-spacing: 12px;
}

/* Navigation */
#nav-bar {
    position: absolute;
    top: 6%;
    left: 3%;
    display: flex;
    justify-content: start;
    color: white;
    font-size: 1.6rem;
    /* background-color: rgba(187, 45, 45, 0.585); */
    animation-name: changeCol;
    animation-duration: 12s;
}

@keyframes changeCol {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

