.landing-container {
    position: relative;
    background-color: black;
}

#landing-photo {
    margin-left: 25%;
    animation-name: jp-photo1;
    animation-duration: 16s;
    opacity: 1;
}

@keyframes jp-photo1 {
    from {
        opacity: 0;
        filter: blur(4px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

#landing-video {
    
    /* top: 350px;
    right: 26%;
    height: 150px; */
    width: 100%;
    margin-top: 11%;
    max-height: 560px;
    opacity: 0;
    animation-name: smokeImage;
    animation-duration: 11s;
}

@keyframes smokeImage {
    from {
        opacity: .35;
    }
    to {
        opacity: 0;
    }
}

#intro {
    position: absolute;
    top: 49%;
    left: 56%;
    color: rgba(253, 128, 8, 1.00);
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    word-spacing: 12px;
    animation-name: introJP;
    animation-duration: 14s;
    opacity: 0;
}

@keyframes introJP {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Navigation */
.nav-bar {
    position: absolute;
    top: 14%;
    left: 4%;
}

.nav-links a {
    display: inline-flexbox;
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-left: 34px;
    animation-name: changeCol;
    animation-duration: 25s;
}

.nav-links a:hover {
    text-decoration: underline;
}

@keyframes changeCol {
    from {
        color: black;
        /* filter: blur(10px); */
    }
    to {
        color: white;
        /* filter: blur(0); */
    }
}

