h1 {
    text-align: center;
    margin-top: 150px;
    color: rgba(253, 128, 8, 1.00);
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    word-spacing: 6px;
}

img {
    margin-left: 150px;
}